<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<div class="container">
  <div class="search-input">
    <input
      type="search"
      class="search"
      name="search"
      [(ngModel)]="searchQuery"
      placeholder="Search"
      (input)="updateSuggestions()"
      (input)="updateSearchQuery()"
    />
    <button (click)="toggleDirection()" class="toggle-button">
      <i
        class="fa"
        [ngClass]="{
          'fa-arrow-up': !isAscending,
          'fa-arrow-down': isAscending
        }"
      ></i>
    </button>
  </div>
  <div class="suggestions" *ngIf="showSuggestions && suggestions.length > 0">
    <div
      *ngFor="let suggestion of suggestions"
      (click)="selectSuggestion(suggestion)"
      class="suggestion"
    >
      {{ suggestion }}
    </div>
  </div>

  <div class="search-results">
    <ng-container *ngFor="let suggestion of suggestions">
      <div *ngIf="searchResults[suggestion]" class="result">
        <div
          *ngFor="let result of searchResults[suggestion]"
          class="result-item"
        >
          {{ result }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- <div>
  <ng-container *ngTemplateOutlet="myTemplate"></ng-container>
</div> -->
<div let login="true" *ngIf="login; else myTemplate">hi</div>
<ng-template #myTemplate>
  <p>Content to be projected into the child component</p>
</ng-template>

<app-child>
  <p class="go">go hell</p>
  <h1 class="he">🤣</h1>
</app-child>
